@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 1px black;
}

.add:hover {
  color: #fcc617;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.spin {
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: #fcc617;
  }
  100% {
    color: white;
  }
}

.change {
  color: white;
  animation: colorChange 2s ease-in-out infinite;
}
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
